@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #202020;
}

button {
    outline: none;
    border: none;
}

input, textarea {
    outline: none;
    border: 1px solid #ccc;
    padding: .5rem;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1rem;
}

/* ----------------------------------------------------------------- */

.btn-disabled {
    opacity: .4;
}

.blue-button, .close-button {
    cursor: pointer;
}
    .blue-button {
        color: #fff;
        background-color: #4169e1;
    }

    .close-button {
        color: #fff;
        background-color: #FF0000;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
        .close-button span {
            display: block;
            padding: .2rem;
        }

.fade-in-anim-2s, .fade-in-anim-1s, .fade-in-anim-500ms {
    animation: notecardfadein;
}

.fade-in-anim-2s {
    animation-duration: 2s;
}

.fade-in-anim-1s {
    animation-duration: 1s;
}

.fade-in-anim-500ms {
    animation-duration: .5s;
}

.rotate-anim {
    transform-origin: center;
    animation-name: rotateanim;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.modal-back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 99;
}

/* ----------------------------------------------------------------- */

/* Note Grid */
.note-grid {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 3rem;
}

/* Note Card */
.note-card {
    height: 10rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
    transform-origin: center;
    transition: all .5s;
    color: #000;
}
    .note-card:hover {
        transform: scale(1.1);
    }
    .note-card:hover .note-delete-btn {
        display: block;
    }

    .note-card-caption {
        max-width: 15rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .note-card-date {
        margin-top: .5rem;
        font-size: .9rem;
    }

/* Note Card Loading Animation */
.note-card-loading-anim {
    animation-name: notecardloadinganim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    background-size: 400% 400% !important;
    background: rgb(162,159,159);
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
    .note-card-loading-anim div {
        border-radius: 10px;
        background-color:rgba(0, 0, 0, .3);
        height: 1rem;
    }
    .note-card-loading-anim div:first-child {
        width: 10rem;
        margin-bottom: 1rem;
    }
    .note-card-loading-anim div:last-child {
        width: 5rem;
    }
    
/* Animations */    
@keyframes notecardloadinganim {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes notecardfadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotateanim {
    100% { transform: rotateZ(360deg); }
}

/* Media Queries */

@media screen and (max-width: 425px) {
    .note-grid {
        grid-template-columns: 1fr;
        gap: 2rem 0;
        margin: 1rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .note-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 2rem;
        margin: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .note-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 2rem;
        margin: 1rem;
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .note-grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem 2rem;
        margin: 1rem;
    }
}